{% extends "app/base.html" %}
{% block title %}Sign Up | StudentHub{% endblock %}

{% block content %}
<div class="auth-wrap">
  <div class="card auth-card">
    <h2>Create Account</h2>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn-primary" type="submit">Sign Up</button>
    </form>

    <p style="margin-top:12px;">
      Already have an account?
      <a class="link" href="{% url 'login' %}">Login</a>
    </p>
  </div>
</div>
{% endblock %}
